@import "tot";
@import "mixin";

.box{
  width: $w;
  height: $w;
  background: #a24713;
  border-radius: 5px;
  @include center;
}
.chess{
  width: 2 * $r;
  height: 2 * $r;
  border-radius: 50%;
  position: relative;
  z-index: 999;
  float: left;
}
.black{
  background: #1C2327;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}
.white{
  background: white;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}
.heng{
  width: $w - $r*2;
  height: 1px;
  background: #1C2327;
  position: absolute;
  left: $r;
  transform: translate3d(300%,0,0);
  animation: move 1s 1 ease-in forwards;
}
.shu{
  height: $w - $r*2;
  width: 1px;
  background: #1C2327;
  position: absolute;
  top: $r;
  transform: translate3d(0,-300%,0);
  animation: down 1s 1 ease-in forwards;
}
@for $i from 1 through 15{
  .heng:nth-of-type(#{$i}){
    top: (2*$i - 1) * $r;
    animation-delay: 100ms* $i;
  }
  .shu:nth-of-type(#{$i}){
    left: (2*$i - 1) * $r;
    animation-delay: 100ms* $i;
  }
}

@keyframes down {
  from{
    transform: translate3d(0,-300%,0);
  }
  to{
    transform: translate3d(0,0,0);
  }
}
@keyframes move {
  from{
    transform: translate3d(300%,0,0);
  }
  to{
    transform: translate3d(0,0,0);
  }
}
.back{
  width: 80px;
  height: 30px;
  background: #a24713;
  position: absolute;
  right: 200px;
  bottom: 20px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
}
.new{
  @extend .back;
  bottom: 100px;
}